/* Palmerston North Boys High School Moodle - Designed & Built by Catalyst : http://catalyst.net.nz/ */


/*course table of contents fix*/
.course-content ul.topics li.section{
 position:static !important;
}
.course-content ul.topics li.section:before { 
  display: block; 
  content: ""; 
  margin-top: -160px; 
  height: 160px;
  position:static !important;
}
img{
    height: auto;
    max-width: 100%;
}
body {
    padding-top: 160px;
}
@media(max-width:979px){
    body {
        padding: 0;
    }
}
/*end - course table of contents fix*/

html,body {
    color:#333333;
    background-color: #FFFFFF;
    background-image: url([[setting:backimage]]);
    background-position: center top;
    background-repeat:[[setting:backposition]];
    font-family: "PT Sans",Arial,Helvetica,sans-serif !important;
    font-size: 13px;
    line-height: 17px;
}

li {
    line-height: 17px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0 5px;
    color: #3E5A6D;
}
h1,
h3.sectionname { /*custom section header size*/
    font-size: 22px;
    line-height: 26px;
}
h2 {
    font-size: 18px;
    line-height: 24px;
}
h3 {
    font-size: 16px;
    line-height: 20px;
}
h4 {
    font-size: 14px;
    border-bottom: 1px solid #D6D6D6;
}
h5 {
    font-size: 14px;
    color: #556F7F;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px solid #D6D6D6;
}
h6 {
    font-size: 14px;
    color: #556F7F;
    font-style: italic;
    font-weight: normal;
    background-color: #EEEEEE;
    padding: 1px 6px;
}

a {
    color: #296EA3;
    text-decoration: none;
}
a:hover, a:focus {
    color: [[setting:menuhovercolor]];
    text-decoration: none;
    outline: 0;
}

#page-site-index h2.headingblock:before {
    background-color: #29A294;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 1.2em;
    height: 1.3em;
    margin-right: 0.5em;
    margin-top: -0.3em;
    padding-top: 0.2em;
    text-align: center;
    width: 1.5em;
	content:"\f0a1";
	border-radius: 3px 3px 3px 3px;
}

#page-header h1 {
    color: #888888;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    float:left;
    margin: -10px 0 5px;
}

#page-header-date h1 {
    float:right;
}
#page-header-generalalert:before {
    background-color: #ffce00;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 1.2em;
    height: 1.3em;
    margin-right: 0.5em;
    margin-top: -0.3em;
	margin-left: -0.3em;
    padding-top: 0.2em;
    text-align: center;
    width: 1.5em;
	content:"\f06a";
	border-radius: 3px 3px 3px 3px;
}

#page-header-generalalert {
    clear:both;
	background-color: #fff8a7;
	display: block;
	color: #3d3d3d;
    height: 1.1em;
    padding: 10px;
	margin-bottom:10px;
	border-radius: 3px 3px 3px 3px;
}

#page-header-snowalert:before {
    background-color: #82cadd;
    color: #FFFFFF;
    display: block;
    float: left;
    font-family: FontAwesome;
    font-size: 1.2em;
    height: 1.3em;
    margin-right: 0.5em;
    margin-top: -0.3em;
	margin-left: -0.3em;
    padding-top: 0.2em;
    text-align: center;
    width: 1.5em;
	content:"\f069";
	border-radius: 3px 3px 3px 3px;
}

#page-header-snowalert {
    clear:both;
	background-color: #bfe5ea;
	display: block;
	color: #3d3d3d;
    height: 1.1em;
    padding: 10px;
	margin-bottom:10px;
	border-radius: 3px 3px 3px 3px;
}

.container-fluid {
    max-width: 100%;
}
.mform fieldset.collapsible legend a.fheader {
    margin-left: 0;
}

/* ---------- CUSTOM DESKTOP WIDTH ---------- */
@media(min-width: 1280px){
    .row-fluid .span3 {
        width: 230px;
        margin-left: 15px
    }
    .row-fluid .span3.desktop-first-column {
        margin-left: 0;
    }
    .row-fluid .span4 {
        width: 230px;
    }
    .row-fluid .span8 {
        width: 740px;
    }
    .row-fluid .span9 {
        width: 985px;
    }
}


/* ---------- HEADER ---------- */ /*desktop base - media query for responsive*/
header .container-fluid {
    padding-top: 5px;
    padding-bottom: 5px;
}
header.navbar {
    background: transparent url([[pix:theme|header-texture]]) repeat-x;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 1001;
}
.navbar .brand {
    background: url([[pix:theme|logo]]) no-repeat;
    text-indent: -9999px;
    width: 430px;
    height: 100px;
    padding: 0;
    margin: 20px auto 0;
    float: none;
}
.navbar .brand:hover {
    cursor: pointer;
}
header .container-fluid {
    padding: 0 25px;
    background: transparent url([[pix:theme|logo-pnbhs]]) 25px 15px no-repeat;
}
.navbar-text {
    color: #FFFFFF;
}
.navbar-text a {
    color: #95ceff;
}
.navbar-inner {
    max-width: 1280px;
    margin: 0 auto;
    background-image: none;
    background-color: transparent;
    filter: none;
    background: transparent url([[pix:theme|logo-crest]]) 98% 15px no-repeat;
}
.nav-collapse .nav {
    float: left;
    margin: 0;
}

.nav-collapse.collapse {
    position: static;
}
/*remove shadows etc.*/
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    box-shadow: none;
    border-width: 0;
}

/*-mobile & tablet reset*/
@media(max-width:979px){
/*    .navbar-fixed-top, 
    .navbar-fixed-bottom {
        position: fixed;
        width: 100%
    }*/
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0; 
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-fixed-bottom .navbar-inner {
        padding: 5px;
    }
    .navbar-inner {
        background-color: #4A6F88;
        background: url([[pix:theme|texture-blue]]) repeat;
    }
    header .container-fluid {
        padding: 5px 0;
        background-image: none;
        min-height: 85px;
        overflow: visible;
    }
    .navbar .brand {
        background: url([[pix:theme|logo-tablet]]) 50% 0 no-repeat;
        text-indent: -9999px;
        width: 350px;
        height: 81px;
        padding: 0;
        margin: 5px auto;
        /*position: absolute;*/
        left: 0;
        right: 0;
    }
    .navbar .nav li.navbar-text {
        float: left;
        line-height: 16px;
        margin: 8px 0;
    }
    .navbar .btn-navbar {
        position: absolute;
        top: 70px;
        left: 90%;
    }
}
/*-mobile image-*/
@media(max-width:480px) {
    .navbar .brand {
        background: url([[pix:theme|logo-mobile]]) no-repeat;
        width: 220px;
        height: 51px;
        position: static;
    }
    header .container-fluid {
        min-height: 85px;
    }
    .navbar .btn-navbar {
        position: relative;
        top: 0;
        left: 0;
    }
}
/**/

/* ---------- LOGIN ---------- */
.navbar .nav li.navbar-text {
    background-image: none;
    background-color: transparent;
    text-transform: none;
}
.navbar .nav-collapse .nav.pull-right {
    margin: 0;
    width: auto;
}
.navbar .nav-collapse .nav.pull-right li {
    border: 0; 
}
.navbar .nav.pull-right .nav li.dropdown {
    border: 0;
}
.navbar .nav-collapse .nav.pull-right ul.nav {
    display: inline;
}
#profilepic {
    margin: 0 0 0 3px !important;
}
#profilepic img {
    border: 0 !important;
}
/*-mobile & tablet reset*/
@media(max-width:979px){
    .nav-collapse .nav {
        float: none;
    } 
    .navbar .nav.pull-right {
        position: static;
    }
    #profilepic {
        position: relative;
        top: 1px;
        z-index: 2;
    }
}
/* NOT LOGGED IN */
.navbar-form input, 
.navbar-form select,
.navbar .btn, 
.navbar .btn-group {
    margin-bottom: 5px;
}


/* ---------- NAVIGATION ---------- */

/* MAIN NAVIGATION */
.nav-collapse .nav {
    margin: 15px 0 5px;
    margin: 0;
}
.navbar .nav li,
.navbar .nav li a {
    font-size: 13px;
}
.navbar .nav li.dropdown {
    background: transparent;
}
.navbar .nav > li > a {
    color: #FFFFFF;
    float: none;
    text-shadow: none;
    padding: 8px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
    background-color: #636363;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #636363;
    color: #FFFFFF;
    border-radius: 0;
}
.navbar .nav li.dropdown.open > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.active > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle:hover, 
.navbar .nav li.dropdown.open > .dropdown-toggle:focus, 
.navbar .nav li.dropdown.active > .dropdown-toggle:focus, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle:focus {
    background-color: #636363;
}

/* ARROWS */
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #C7E2FB;
    border-top-color: #C7E2FB;
    margin-left: 4px;
}
.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}
/* ARROWS - SUBMENUS */
.dropdown-submenu > a:after {
    border-color: transparent transparent transparent #C7E2FB;
}
.dropdown-submenu:hover > a:after {
    border-color: transparent transparent transparent #0B2945; 
}
.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #C7E2FB;
}

/* SECONDARY NAVIGATION */
.open > .dropdown-menu {
    border-radius: 0;
    margin: 0;
}
.navbar .nav li.dropdown li {
    text-transform: none;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    color: #FFFFFF;
}

/* SECONDARY SUB-NAVIGATION */
.dropdown-submenu > .dropdown-menu {
    border-radius: 0;
}
.dropdown-submenu.open > .dropdown-menu {
    margin-left: -1px;
    margin-top: -6px;
}
.navbar .nav li.dropdown li.dropdown-submenu li,
.navbar .nav li.dropdown li.dropdown-submenu li a {
    font-weight: normal;
}

/* MOBILE NAVIGATION */
.nav-collapse .dropdown-menu {
    background-color: #636363;
}
.nav-collapse .nav > li > a, 
.nav-collapse .dropdown-menu a,
.nav-collapse .nav > li > a:hover,
.nav-collapse .nav > li > a:focus {
    color: #FFFFFF;
    filter: none;
    font-weight: normal;
}
.nav-collapse .dropdown-menu a:hover,
.nav-collapse .dropdown-menu a:focus,
.nav-collapse .dropdown-submenu a:hover,
.nav-collapse .dropdown-submenu a:focus,
.nav-collapse .dropdown-submenu a:active,
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus {
    color: #4A6F88;
    background-color: #fffeba;
    filter: none;
}
.nav-collapse .dropdown-menu li,
.nav-collapse .dropdown-menu li a {
    font-weight: normal;
}
.nav-collapse .dropdown-menu > li > a:hover,
.nav-collapse .dropdown-menu > li > a:focus,
.nav-collapse .dropdown-submenu:hover > a,
.nav-collapse .dropdown-submenu:focus > a {
    background-image: none;
    background-color: #DDDDDD;
    border-radius: 0;
    filter: none;
}
.dropdown-submenu:hover > a:after {
    border-color: transparent transparent transparent #0B2945; 
}
.nav-collapse .dropdown-submenu:hover > a {
    color: #4A6F88;
}
.dropdown-submenu ul.dropdown-menu,
.dropdown-submenu.open ul.dropdown-menu {
    margin: 0;
    overflow: hidden;
}
@media(max-width:979px) {
    .dropdown-submenu ul.dropdown-menu,
    .dropdown-submenu.open ul.dropdown-menu {
        padding-left: 15px;
    }
}

/*stop scrollbar */
.open > .dropdown-menu {
    overflow-y: visible;
}


/*-desktop base-*/
.navbar .nav li.navbar-text {
    display: block;
    float: right;
}
.navbar .nav li {
    border-left: 1px solid #5C5C5C;
    border-right: 1px solid #787878;
}
.navbar .nav li:first-child {
    border-left: none;
}

/*-mobile & tablet reset-*/
@media(max-width:979px) {
    .nav-collapse .nav {
        height: auto;
        margin-top: 10px;
    }
    .navbar .nav li {
        border: 0;
    }
    .navbar .nav li.navbar-text {
        float: left;
    }
}

/* BREADCRUMB */
.breadcrumb {
    background-color: transparent;
    margin-bottom: 5px;
    padding: 8px 0;
}
.breadcrumb > li {
    font-size: 12px;
}
.breadcrumb > li > .divider {
    padding: 0 2px 0 0;
}
header h1 {
    display: none;
}
#page-site-index header#page-header {
    margin-top: 15px;
    margin-bottom: 6px;
}
#page-site-index header#page-header h1 {
    display: block;
}


/* ---------- BUTTONS ---------- */
button, 
input.form-submit, 
input[type="button"], 
input[type="submit"], 
input[type="reset"],
input#id_submitbutton, 
input#id_submitbutton2, 
.path-admin .buttons input[type="submit"], 
td.submit input {
  color: #FFFFFF;
  border-radius:          4px;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  text-shadow: none;
  background-color: #636363;
  background-image: none;
  background: -moz-linear-gradient(top, #636363 0%, #4A4A4A 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(100%,#4A4A4A));
  background: -webkit-linear-gradient(top,  #636363 0%,#4A4A4A 100%);
  background: -o-linear-gradient(top,  #636363 0%,#4A4A4A 100%);
  background: -ms-linear-gradient(top,  #636363 0%,#4A4A4A 100%);
  background: linear-gradient(to bottom, #636363 0%, #4A4A4A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#4A4A4A',GradientType=0 );
  border-color: #4A4A4A;
}
button:hover, 
input.form-submit:hover, 
input[type="button"]:hover, 
input[type="submit"]:hover, 
input[type="reset"]:hover,
input#id_submitbutton:hover, 
input#id_submitbutton2:hover, 
.path-admin .buttons input[type="submit"]:hover, 
td.submit input:hover,
button:focus, 
input.form-submit:focus, 
input[type="button"]:focus, 
input[type="submit"]:focus, 
input[type="reset"]:focus,
input#id_submitbutton:focus, 
input#id_submitbutton2:focus, 
.path-admin .buttons input[type="submit"]:focus, 
td.submit input:focus {
  color: #FFFFFF;
  border-radius:          4px;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  background-color: #777777;
  background-image: none;
  background: -moz-linear-gradient(top, #777777 0%, #636363 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#777777), color-stop(100%,#636363));
  background: -webkit-linear-gradient(top,  #777777 0%,#636363 100%);
  background: -o-linear-gradient(top,  #777777 0%,#636363 100%);
  background: -ms-linear-gradient(top,  #777777 0%,#636363 100%);
  background: linear-gradient(to bottom, #777777 0%, #636363 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#777777', endColorstr='#636363',GradientType=0 );*/
  border-color: #636363;
}
#page-header form input[type="submit"] {
    margin-bottom: 0;
}
/* dialogue add button */
.choosercontainer #chooseform .submitbuttons input {
    color: #FFFFFF;
    background-image: none;
    background: -moz-linear-gradient(top, #597B91 0%, #4A6F88 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#597B91), color-stop(100%,#4A6F88));
    background: -webkit-linear-gradient(top,  #597B91 0%,#4A6F88 100%);
    background: -o-linear-gradient(top,  #597B91 0%,#4A6F88 100%);
    background: -ms-linear-gradient(top,  #597B91 0%,#4A6F88 100%);
    background: linear-gradient(to bottom, #597B91 0%, #4A6F88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#597B91', endColorstr='#4A6F88',GradientType=0 );*/
    border-color: #4A6F88;
}
/* not logged in button */
.btn:hover, 
.btn:focus {
  border-radius:          4px;
  -webkit-border-radius:  4px;
  -moz-border-radius:     4px;
  background-color: #EEEEEE;
  background-image: none;
  background-position: 0 0;
  background: -moz-linear-gradient(top, #EEEEEE 0%, #CECECE 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#EEEEEE), color-stop(100%,#CECECE));
  background: -webkit-linear-gradient(top,  #EEEEEE 0%, #CECECE 100%);
  background: -o-linear-gradient(top,  #EEEEEE 0%, #CECECE 100%);
  background: -ms-linear-gradient(top,  #EEEEEE 0%, #CECECE 100%);
  background: linear-gradient(to bottom, #EEEEEE 0%, #CECECE 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEEEEE', endColorstr='#CECECE',GradientType=0 );*/
  border-color: #636363;
}


/* ---------- CONTENT ---------- */

#page.container-fluid {
    max-width: 1230px;
    padding: 0 25px; 
}

/*tablet-mobile full width footer fix*/
@media(max-width:768px) {
    #page.container-fluid {
        position: relative;
        padding: 0 15px;
    }
}

/*edit button*/
#page-header form input[type="submit"] {
    position: relative;
    z-index: 1;   
}
/*custom section header centered*/
#section-0 h3.sectionname {
    text-align: center;
}

/*main*/
.course-content {
    background-color: #FFFFFF;
	border: 1px solid #597B91;
    border-radius: 1px 1px 1px 1px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
    min-height: 20px;
    padding: 8px 0;
}
.pagelayout-incourse #region-main, .pagelayout-mydashboard  #region-main {
    background-color: #FFFFFF;
	border: 1px solid #E3E3E3;
    border-radius: 1px 1px 1px 1px;
	margin-bottom: 20px;
    min-height: 20px;
    padding: 6px;
}
.course-content ul li.section.main {
    border-bottom: 1px solid #597B91;
}

.path-course-view .completionprogress {
    margin-right: 10px;
}

.block {
    box-shadow: none;
    background-color: #FFFFFF;
}
#region-pre .block,
#region-post .block {
    border-color: #597B91;
    border-radius: 12px 0 12px 12px;
    padding-top: 0;
}
#region-pre .block.hidden,
#region-post .block.hidden {
    padding: 0;
}
#region-pre .header,
#region-post .header {
    border-radius: 10px 0 0 0;
    padding: 8px 0;
    background: #597B91 url([[pix:theme|sidebar-texture]]) 100% 0 no-repeat;
}
#region-pre .hidden .header, 
#region-post .hidden .header {
    border-radius: 10px 0 10px 10px;
}
.block .header .title h2, .block h3.main {
	font-weight: normal;
	text-shadow: none;
}

.block .header .title h2 {
    font-size: 15px;
    line-height: 18px;
    text-transform: none;
    color: #FFFFFF;
}
.block .header .title h2:before {
    display: none !important;
}
.block .header .title h2, 
.block h3.main {
    padding: 2px 13px;
}
.block h3 {
    padding: 0;
    text-transform: none;
    color: #3E5A6D;
    font-size: 16px;
    line-height: 20px;
}
.block .content {
    padding-left: 8px;
    padding-right: 8px;
}
.block_search_forums .searchform {
    margin-top: 5px;
}

.block_navigation .block_tree .active_tree_node,
.block_settings .block_tree .active_tree_node {
    font-weight: normal;
}
.block_navigation .block_tree .tree_item.branch,
.block_settings .block_tree .tree_item.branch,
.jsenabled .block_settings .block_tree .collapsed .tree_item.branch,
.jsenabled .block_navigation .block_tree .collapsed .tree_item.branch {
    background-position: 0 4px;
}
.block_navigation .block_tree li,
.block_settings .block_tree li,
.jsenabled .block_settings .block_tree li,
.jsenabled .block_navigation .block_tree li {
    line-height: 20px;
}

/*forum posts*/
.forumpost .row.maincontent .left {
    display: none;
}
#site-news-forum .subscribelink {
    float: right;
    margin-bottom: 10px;
}
#site-news-forum #forumaddnew {
    float: left;
}
.userpicture {
    border-radius: 0;
}
.forumpost {
    background-color: #FFFFFF;
    border-radius: 0;
    clear: both;
}
.forumpost .topic {
    background: #262626 url([[pix:theme|forum-gradient]]) 0 0 repeat-y;  
    color: #FFFFFF;
    line-height: 18px;
    margin-bottom: 10px;
    min-height: 37px;
    padding: 2px 10px;
}
.forumpost img {
    display: block;
    margin: 0 auto; 
}
.forumpost .picture img {
    border: 3px solid #4A4A4A;
    margin: 0;
}
.author {
	font-size:0.8em;
	color: #FFFFFF;
}
.author a {
    color: #C7E2FB;
}
.author a:hover {
    color: #FFFFFF;
}
td.author a {
    color: #296EA3;
}
td.author a:hover {
    color: #F42941;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {
    float: right;
    margin-bottom: 5px;
    width: auto;
}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol select,
#page-mod-forum-discuss .discussioncontrols .discussioncontrol input[type="submit"] {
    margin-bottom: 0;
}
#page-mod-forum-discuss .discussioncontrol.movediscussion {
    padding-right: 6px;
    clear: both;
}
div.forumaddnew {
    float: right;
    clear: both;
}

/* calendar side */
.block .minicalendar th, .block .minicalendar td {
    font-size: 0.9em;
}
.calendar-event-panel .yui3-overlay-content h2.eventtitle {
    font-size: 15px;
    line-height: 19px;
}
/* calendar new event fix*/
.form-item .form-label, 
.mform .fitem div.fitemtitle, 
.userprofile dl.list dt, 
.form-horizontal .control-label {
    width: 24%;
}
.form-item .form-setting, 
.form-item .form-description, 
.mform .fitem .felement, 
#page-mod-forum-search .c1, 
.mform .fdescription.required, 
.userprofile dl.list dd, 
.form-horizontal .controls {
    margin-left: 26%;
}
@media(max-width:979px){
    .form-item .form-label, 
    .mform .fitem div.fitemtitle, 
    .userprofile dl.list dt, 
    .form-horizontal .control-label {
        width: 20%;
    }
    .form-item .form-setting, 
    .form-item .form-description, 
    .mform .fitem .felement, 
    #page-mod-forum-search .c1, 
    .mform .fdescription.required, 
    .userprofile dl.list dd, 
    .form-horizontal .controls {
        margin-left: 22%;
    }
}
@media(max-width:480px) {
    .form-item .form-label, 
    .mform .fitem div.fitemtitle, 
    .userprofile dl.list dt, 
    .form-horizontal .control-label {
        width: 100%;
    }
    .form-item .form-setting, 
    .form-item .form-description, 
    .mform .fitem .felement, 
    #page-mod-forum-search .c1, 
    .mform .fdescription.required, 
    .userprofile dl.list dd, 
    .form-horizontal .controls {
        margin-left: 0;
    }
}

#page-site-index h2.headingblock:before {
    display: none;
}

.course-content ul.gridicons li.currentselected {
    background-color: #E3E9FF;
}

/* CONTENT PADDING REMOVAL */

.course-content ul.topics li.section .left, 
.course-content ul.topics li.section .right {
    display: block;
}
.course-content ul.topics li.section .content, 
.course-content ul.weeks li.section .content {
    margin-left: 6px;
    margin-right: 6px;
}
.section .activity .mod-indent-outer {
    padding-left: 0;
}
body.editing .section .activity .mod-indent-outer { /*editing fix*/
    padding-left: 24px;
}

/* ---------- CONTENT BOXES ---------- */
.courses .coursebox.even,
.courses .coursebox.odd {
    background-color: #EEEEEE;
    border-radius: 0;
}
.coursebox {
    border: 0;
    padding: 7px;
    margin-bottom: 10px;  
}
.coursebox .content {
    clear: none !important;
}
.coursebox > .info > .name, 
.coursebox .content .teachers, 
.coursebox .content .courseimage, 
.coursebox .content .coursefile {
    width: 38%;
}
.course_category_tree .category > .info {
    background-color: #EEEEEE;
    border-radius: 0;
    box-shadow: none;
    border: 0; 
}
#coursecategories select {
    font-size: 11px;
}
.course-content {
    box-shadow: none;
}

/* ---------- DIALOGUE BOXES ---------- */
/*popup header*/
.totara-dialog .ui-dialog-titlebar,
.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-hd,
#filesskin .yui3-widget-hd {
    background-image: none !important;
    background-color: #4A6F88 !important;
    filter: none !important;
    color: #FFFFFF !important;
    font-size: 14px !important;
    text-shadow: none !important;
}
/*popup navbar*/
.file-picker .fp-navbar { 
    background: none repeat scroll 0 0 #D0DAE2 !important;
    border-bottom: 1px solid #DDDDDD !important;
}
.yui3-skin-sam .yui3-panel .yui3-widget-hd .yui3-widget-buttons { /*close icon*/
    padding: 4px !important;
}
/*popup sidebar*/
.file-picker .fp-repo-area { 
    border-right: 1px solid #DDDDDD !important;
    top: 30px;
}
.jsenabled .choosercontainer #chooseform .alloptions {
    background-color: #FFFFFF !important;
    moz-box-shadow:     none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}
.choosercontainer #chooseform .selected {
    moz-box-shadow:     none !important;
    -webkit-box-shadow: none !important;
    box-shadow:         none !important;
}
/*enrol user popup*/
.user-enroller-panel {
    border: 0 !important;
    background-color: transparent !important;
}
.user-enroller-panel .uep-wrap {
    background-color: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    -moz-border-radius:     10px 10px 10px 10px !important;
    webkit-border-radius:   10px 10px 10px 10px !important;
    border-radius:          10px 10px 10px 10px !important;
}
.user-enroller-panel .uep-header {
    background-color: #4A6F88 !important;
    background-image: none !important;
    border-bottom: 1px solid #BBBBBB !important;
    -moz-border-radius:     10px 10px 0 0 !important;
    webkit-border-radius:   10px 10px 0 0 !important;
    border-radius:          10px 10px 0 0 !important;
}
.user-enroller-panel .uep-header h2 {
    text-align: center !important;
    background-image: none !important;
    background-color: #4A6F88 !important;
    filter: none !important;
    color: #FFFFFF !important;
    font-size: 13px !important;
    font-weight: bold !important;
    text-shadow: none !important;
}
.user-enroller-panel .uep-content {
    border-bottom: 1px solid #BBBBBB !important;
    border-top: 0 !important;
}
.user-enroller-panel .uep-content .uep-controls {
    background-color: #D0DAE2 !important;
    border-bottom: 1px solid #BBBBBB !important;
    padding: 6px !important;
}
.user-enroller-panel .uep-search-results .uep-more-results {
    background-color: #D0DAE2 !important;
    border: 0 !important;
}
.user-enroller-panel .uep-footer {
    background-color: #D0DAE2 !important;
    -moz-border-radius:     0 0 10px 10px !important;
    webkit-border-radius:   0 0 10px 10px !important;
    border-radius:          0 0 10px 10px !important;
}
/*calendar event popup*/
body#page-calendar-event {
    font-family: "PT Sans",Arial,Helvetica,sans-serif !important;  
}
#dateselector-calendar-panel {
    border: 0 !important;
}
#dateselector-calendar-content {
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
}
.yui-skin-sam .yui-calcontainer {
    padding: 5px !important;
}
.yui-skin-sam .yui-calendar .calhead {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    background: none repeat scroll 0 0 #4A6F88 !important;
    color: #FFFFFF !important;
    padding: 7px 0 0 !important;
    filter: none  !important;
}
.yui-skin-sam .yui-calendar .calnavleft {
    left: 0 !important;
}
.yui-skin-sam .yui-calendar .calnavright {
    right: 0 !important;
}
.yui-skin-sam .yui-calendar td.calcell.oom {
    background-color: #F5F5F5 !important;
    color: #6B6B6B !important;
}
#dateselector-calendar-content_t th.calweekdaycell {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    font-weight: normal !important;
}
.yui-skin-sam .yui-calendar td.calcell a {
    font-family: "PT Sans",Arial,Helvetica,sans-serif;
    color: #000000 !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover {
    background-color: transparent !important;
}
.yui-skin-sam .yui-calendar td.calcell.calcellhover a {
    background-color: #D0DAE2 !important;
    color: #6B6B6B !important;
}
.yui-skin-sam .yui-calendar td.calcell.selected a {
    background-color: #4A6F88 !important;
    color: #FFFFFF !important;
}
/*html popup - insert image*/ 
.clearlooks2 .mceFocus .mceTop .mceCenter,
.clearlooks2 .mceTop .mceLeft,
.clearlooks2 .mceTop .mceRight {
    background-image: none !important;
    background-color: #4A6F88 !important;
    border-top: 1px solid #CCCCCC;
}
.clearlooks2 .mceTop .mceLeft {
    border-left: 1px solid #CCCCCC !important;
    -moz-border-radius:     10px 0 0 0 !important;
    webkit-border-radius:   10px 0 0 0 !important;
    border-radius:          10px 0 0 0 !important;
}
.clearlooks2 .mceTop .mceRight {
    border-right: 1px solid #CCCCCC !important;
    -moz-border-radius:     0 10px 0 0 !important;
    webkit-border-radius:   0 10px 0 0 !important;
    border-radius:          0 10px 0 0 !important;
}
.clearlooks2 .mceFocus .mceTop span {
    color: #FFFFFF !important;
    font-size: 13px !important;
    font-weight: bold !important;
    text-shadow: none !important;
}
.clearlooks2 .mceBottom .mceCenter,
.clearlooks2 .mceBottom .mceLeft,
.clearlooks2 .mceBottom .mceRight,
.clearlooks2 .mceMiddle .mceLeft,
.clearlooks2 .mceMiddle .mceRight {
    background-image: none !important;
    background-color: #4A6F88 !important;
}
.clearlooks2 .mceBottom .mceLeft {
    border-left: 1px solid #CCCCCC !important;
    border-bottom: 1px solid #CCCCCC !important;
}
.clearlooks2 .mceMiddle .mceLeft {
    border-left: 1px solid #CCCCCC !important;   
}
.clearlooks2 .mceTop .mceRight {
    border-right: 1px solid #CCCCCC !important;
}
.clearlooks2 .mceBottom .mceCenter {
    border-bottom: 1px solid #CCCCCC !important;
}


/* ---------- MISC ---------- */
.adminwarning input[type="submit"] {
    margin: 10px 5px;
}


/* ---------- FOOTER ---------- */

#page-footer {
    background: url([[pix:theme|footer-texture]]);
    border: 0;
    margin: 20px auto 0;
    padding: 20px 0 15px;
    position: absolute;
    left: 0;
    right: 0;
}
/*tablet-mobile fix*/
@media(max-width:979px) {
    #page-footer {
        background: url([[pix:theme|texture-blue]]);
    }
}

#page-footer .row-fluid {
    background: url([[pix:theme|footer-banner]]) no-repeat 50% 0;
    max-width: 1230px;
    margin: 0 auto;

    padding-top: 155px;
}
#page-footer hr,
#page-footer .span4,
#page-footer .logininfo,
#page-footer .row-fluid.footerlinks {
    display: none
}
#page-footer .span4:first-child {
    display: block;
    width: 100%;
    margin: 0;
}
#page-footer #footer-left {
    text-align: right;
}
#page-footer #footer-left a {
    color: #FFFFFF;
}
p.helplink {
    margin: 10px 0 0;
}

/*tablet-mobile fix*/
@media (max-width: 1279px) {
    #page-footer .span4:first-child {
        margin: 0 2%;
        width: 96%;
    }
}
@media(max-width:979px) {
    #page-footer .row-fluid {
        background-image: url([[pix:theme|footer-banner-tablet]])
    }
}
@media(max-width:480px) {
    #page-footer .row-fluid {
        background-image: url([[pix:theme|footer-banner-mobile]])
    }
}
